<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<title>Form</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <h3> Add Cookie</h3>
    <form method="post" action="/addCookies">
        <label>key:</label>
        <input type="text" name="key">
        <label>value:</label>
        <input type="text" name="value">
        <input type="submit" value="AddCookies">
    </form>
    <table class="table table-stripped table-bordered">
        <tr class="bg-danger">
            <th>Key</th>
            <th>Value</th>
        </tr>
        <% for(let cookie in cookies){%>
            <tr>
                <td>
                    <%=cookie%>
                </td>
                <td>
                    <%=cookies[cookie]%>
                </td>
            </tr>
            <%}%>
    </table>

</body>

</html>