<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Current Time</title>
    <link href="../css/<%= cssPath %>" rel="stylesheet">
</head>
This time was loaded at <%=time%>

</html>