<!DOCTYPE html>
        <html lang = "en" >
            <head>
                <meta charset="UTF-8">
                    <title> My Form </title>
                 </head>
                <body>
                    <form method="post" action="/result">
                        <label>Name</label>
                        <input type="text" name="name" />
                        <label>Age</label>
                        <input type="text" name="age" />
                        <button type="submit">Submit Query</button>
                    </form>
                </body>
   </html>