<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Form</title>
</head>
<body>
    <form method="post">
        <input type="text" name="item"/>
        <input type="submit" value="add" />
    </form>

</body>

</html>