<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Template Quiz</title>
</head>

<body>
    <ul>
        <% for(let i=0; i<list.length; i++){%>
            <li>
                <%=list[i]%>
            </li>

            <%}%>
    </ul>
    <a href="/Add">Add</a>

</html>