<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Magic 8 ball Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <form id="form">
        <input type="text" id="name" />
        <input type="submit" value="Ask 8 Ball" />
    </form>
</body>

</html>